<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1>
		Welcome to {{ title }}!
	</h1>
</div>

<h1>Reset Form</h1>
<div>
	<form #form="ngForm" [ngFormOptions]="{updateOn: 'submit'}" (submit)="onSubmit($event)" (reset)="onReset($event)" >
		<div>
			<input #firstName="ngModel" name="firstName" [(ngModel)]="data.firstName" />

			<input name="lastName" [(ngModel)]="data.lastName"  />

			<input name="etc" [(ngModel)]="data.etc" required />
		</div>
		<div>
			<input type="submit" value="submit" />
			<input type="reset" value="reset" />
		</div>
		<div>
			<button (click)="onSubmit($event)">submit</button>
			<button (click)="onReset($event)">reset</button>
		</div>
	</form>

</div>

<h1>Form With Inner Form</h1>

<div>
	<form (submit)="onSubmit()" (reset)="onReset()" #form2="ngForm">
		<div>
			<input name="firstName" [(ngModel)]="data.firstName" [ngModelOptions]="{updateOn: 'submit'}" />
			<input name="lastName" [(ngModel)]="data.lastName" [ngModelOptions]="{updateOn: 'submit'}" />
		</div>
		<div>
			<form (submit)="onSubmit()">
				<div>
					<input name="address" [(ngModel)]="innerData.address" [ngModelOptions]="{updateOn: 'submit'}" />
					<input name="postCode" [(ngModel)]="innerData.postCode" [ngModelOptions]="{updateOn: 'submit'}" />
				</div>
				<div>
					<input type="submit" value="submit" />
					<input type="reset" value="reset" />
				</div>
			</form>
		</div>
		<div>
			<input type="submit" value="submit" />
			<input type="reset" value="reset" />
		</div>
	</form>
</div>
<div>
	{{data|json}}
</div>